.search-bar {
	position: relative;
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-input {
	width: 40%;
	padding: 20px 40px;
	border-radius: 25px;
	border: none;
}

.search-input:focus {
	outline: none;
}
