.book-page {
	position: relative;
	min-height: 100vh !important;
}
.book-page-container {
	padding: 100px 0 20px;
}
.book-description {
	display: flex;
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.book-description {
		flex-direction: column;
	}
	.image-holder {
		margin: 20px auto;
	}
	.book-details {
		margin-left: 0px !important;
		text-align: center;
	}
	.sub-details {
		flex-direction: column;
	}
}
.book-details {
	margin-left: 30px;
}
.sub-details {
	display: flex;
	justify-content: space-between;
}
.note {
	background-color: transparent;
	box-shadow: 2px 2px 5px black;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.note:not(:last-child) {
	margin: 10px;
}
.note:last-child {
	margin: 10px 10px 0px;
}
