.challenge-card .img-holder {
	position: relative;
}

.challenge-card .img-holder img {
	min-width: 100%;
	min-height: 100%;
	box-shadow: 0px 0px 6px black;
}

.challenge-card .book-details {
	margin-left: 10px;
}
