.parent-box {
	width: 100%;
	height: 100%;
	perspective: 600px;
}
.child-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transition: transform 1s;
	transform-origin: right center;
	cursor: pointer;
}

.face {
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.face.front img {
	width: 100%;
	height: 100%;
}

.face.back {
	transform: rotateY(180deg);
}

.child-box:hover {
	transform: translateX(-100%) rotateY(-180deg);
}
